.main-imagenes{
    width: 100%;
    height: auto;
    
    }
.header-hotel{
    background-color: #545776;
    color: white;
    display: flex;
    padding: 1rem;
    
}
.infolocation-hotel{
    display: flex;
    margin: 0;
    padding: .5rem 1rem;
    background-color: #E5E5E7;
}
.p-hotel{
    width: 90%;
    justify-content: center;
    padding: 0 1.5rem;
}
.puntuacion{
    padding: 0%;
    color: #1DBEB4;
}
.flecha{
    font-size: 40px;
    padding-top: 1rem;
}
.p-hotel-negro{
    padding: 0 2rem;
    
}
.icons{
    margin-right: .5rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    width: 7%;
    color: #1DBEB4;
}
.plus{
    margin-left: 5rem;
}
.servicios-alojamiento{
    width: 65%;
    margin-top: 1rem;
    margin-left: 2rem;
    
}
.politicas-alojamiento{
    height: auto;
    margin: 0 1rem; 
    width: 100%;
}
.politicas-pautas-div{
    padding:  1rem 0;
    width: 70%;
    justify-content: center;
}


h3{
    margin: 0.5rem ; 
    padding: 0.5rem ;
    color:#545776
}
.datepicker-div{
    background-color: #E5E5E7;
    padding: 3rem 12rem;  
}
.cajaauxiliarfechas{
    margin: 3rem;
    text-align: center;
    border-radius: 3px;
}
.react-datepicker__month-container{
    width: 100%;
}

button{
    background-color: #1DBEB4;
    color: white;
}
h5{
    color:#545776
}


@media(min-width:1100px){
    .politicas-alojamiento{
        display: flex;
        padding: 16px;
    }
 .datepicker-div{
    display: flex;
    justify-content: center;

 }
 .react-datepicker{
    display: flex;
 }
 h3{
    margin-left:2rem
 }
 .cajaauxiliarfechas{
    margin-left: 128px;
 }
 .servicios-alojamiento{
    width: 100%;
    margin: 48px;
 }
 .icons{
    width: 16px; 
    margin-right: 8px; 
    margin-left: 96px;
    
 }
 .politicas-pautas-div{
    padding: 16px 32px;
    justify-content: center;
 }

}