.h-principal{
    list-style-type: none;
    background-color: #545776; 
    color: white;
    display: flex;
    justify-content: center;
    /* padding: 30px 20px; */
    padding-top: 5rem;
    margin-top: 0%;
    position: relative;
    z-index: 0;
    padding-bottom: 1rem;
}

.h-sec{
    /* background-color: #545776; */
    display: flex;
    /* margin: 0 5px; */
    
}
input{
    height: 2rem;
}

.h-principal form{
    text-align: center;
    background-color:#545776;
    
}
.react-datepicker-wrapper {
    width: unset;
    display: flex;
    height: 2rem;
    padding: 0 1rem;
    
} 

.boton-principal{
    width: 10rem;
    background-color: white;
    /* color:#1DBEB4; */
    border-radius: 1rem;
    height: 2rem;
    border-style: double;
    border: #1DBEB4;
    font-weight: bold;

}
.b-home{
    background-color: #1DBEB4;
    color: white;
}
select{
    width: unset;
    display: flex;
    height: 2rem;
    padding: 0 1rem;
} 
/* @media (max-width: 800px){
    .h-principal{
        flex-direction: column;
        background-color:#967ED5 ;
        width: 100%;
        margin: 0 auto;
        width: 100%; 
    }
    .h-sec{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 40px 10px;
        align-items: center;
        width: 100%;
    }
}
@media(max-width:500px){
    .h-principal{
        background-color: white;
        padding: 0;
}
    .h-sec{
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 40px 10px;
        align-items: center;
    }
}

 */
