.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 1rem;
    place-content: center;
    padding: 5px 5px;
}

.card{
    padding: 1rem;
}

.rightproductdetails{
    text-align: center;
}

