.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 1rem;
    place-content: center;
    padding: 5px 5px;
    height: auto;
}

.card{
    padding: 1rem;
    margin: 1rem;
}

.rightproductdetails{
    text-align: center;
}

