*{
    margin-top: 0;
    padding: 0;
    
}
.main-slide {
    padding-top: 40px;
    height: 50%; 
    
}
.img-slider{
    height: 500px;
    width: 200px;   
}
.carousel .thumb{
    width: 5%;
    height: 40px;
    padding-bottom: .5em;
    justify-content: center;  
}
.carousel{
    text-align: center;  
}
.axis-horizontal{
    border-radius: 15px;
    padding: 0;  
}
.carousel-slider{
    height: 50%;
    width: unset;
}
.carousel-root{
    
    margin-top: 5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
    border-radius: 10px;    
} 


@media(max-width:731px){
    .axis-vertical{
        display: none;
    }
    .carousel-root{
        width: 100%;
        margin: 0;
    }
    
}  
