*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.principal{
    padding: 1em;
    display: flex;
    margin: 0.5rem;
    justify-content: center;
   
}
.gallery{
    padding-top: .5em;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 14.3rem;
    gap:.5rem; 
   
    
}
.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .73rem;
}
.img-alone{
    width: 85%;
    margin:.5rem; 
   
    border-radius: .73rem;
}
.img-text{
    top: 11rem;
    left: 8rem;
    content: "Ver Mas"; 
    color: white;
    position: absolute;
  
}
figure{
    margin: unset; 
    position: relative;
}
.iconoscarrusel{
    padding-top: 1em;
    margin-left: 1.5em;
    font-size: 1.5rem;
}
.carousel-control-next{
    display: none;
}
.mobileslider{
    display: none;
    
}
.mobile-slider{
    display: none;
}

@media(max-width:731px){ 
    .principal{
        display: none;
    }
    .gallery{
        display: none;
    }
    .mobile-slider{
        display: flex;
        width: 70%;
        margin: 8px 80px;
    }
    .carousel-root{
        width: 100%;
        height: 30%;
        margin: 16px;
    }
   
    
    
    
}
   
  
