/* 
.check{
    font-size: 6rem;
    color:#1DBEB4; 
    margin-left: 10rem;
    
}
.container-check{
   
    height: auto;
    
} */

.container-check{
   
    height: 100%;
    
}
.check{
    font-size: 6rem;
    color:#1DBEB4;
    padding-left: 6rem;
    background-color: white;
   
}

.p-reservass{
    margin-left: 3.7rem;
    font-size: 20px;
    font-weight: bold;
    color: #1DBEB4;
    background-color: white;
}
.p-reservasbis{
    margin-left: 1rem;
    font-weight: bold;
    font-size: 15px;
    background-color: white;
}
.container-check{
    height: 100%;
    border-style: none;
    margin: 10rem;
    
}
.cuadro-reserv{
   padding: 2rem 4rem;
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
}
.botton-check{
    width: 9rem;
    margin-left: 4rem;
    background-color: #1DBEB4;
    color: white;
    border-style: none;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
}

@media (min-width: 1000px){
 
.cuadro-reserv{
        width: 38%;
        height: 50%;
        margin-left: 30%; 
        padding: 0;
       
}
.check{
    padding-left: 38%;
   
}
.p-reservass{
   margin-left: 17%;
    font-size: 120%;
    padding: 0 10%;
}
.p-reservasbis{
    margin-left: 17%; 
    font-size: 100%;
    padding: 0; 
}
.botton-check{
    margin-left: 33%;
    margin-right: 15%;
    width: 9rem;
    height: 2.5rem; 
    margin-bottom: 3rem;
}
.container-check{
    height: 50%;
    border-style: none;
    padding-top: 13%;
    margin-bottom: 27%;
    
}
.dosparrafos-rsv{
    margin-left: 10%;
    margin-right: 6%;
    padding: 0;
}
}
