.footer{
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    height: 10%;
    position: fixed;
    width: 100vw;
    background-color: #1DBEB4;
}

.f-list{
    list-style-type: none;
    float: right;
    justify-content:space-around;
    padding:0.5rem;
    margin: 10px;
}

.f-list li{
    list-style-type: none;
    float: right;
    justify-content:space-around;
    padding:0.5rem;
}
.f-p-text{
    color: white;
    padding: 30px;
}