.h-principal{
    list-style-type: none;
    background-color: #545776; 
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    
}

.h-sec{
    background-color: #545776;
    display: flex;
    margin: 0 5px;
    
}
input{
    height: 40px;
}

form{
    text-align: center;
    background-color:#545776;
    
}
.react-datepicker-wrapper {
    width: unset;
    display: flex;
    height: 40px;
    margin: 0 10px;
    
} 

button{
    width: 200px;
    background-color: white;
    color:#1DBEB4;
    border-radius: 10px;
    height: 40px;
    border-style: double;
    border: #1DBEB4;
    font-weight: bold;

}
.b-home{
    background-color: #1DBEB4;
    color: white;
}
select{
    width: 300px;
} 
@media (max-width: 800px){
    .h-principal{
        flex-direction: column;
        background-color:#967ED5 ;
        width: 100%;
        margin: 0 auto;
        width: 100%; 
    }
    .h-sec{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 40px 10px;
        align-items: center;
        width: 100%;
    }
}
@media(max-width:500px){
    .h-principal{
        background-color: white;
        padding: 0;
}
    .h-sec{
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 40px 10px;
        align-items: center;
    }
}


