.container_principal{
    padding: 10rem 25rem;
    display: flex;
    justify-content: center;
}

.container_principal label{
    padding-top: 1rem;
}
.titlelogin{
    color: #1CB9C2;
    font-size: x-large;  
    font-weight: bold;
    text-align: center;
    padding-top: 1.5rem;
    margin-bottom:0;
}

.input-login{
    width: 100%;
    border-radius: 0.5rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0.3rem;
    border: none;
}

.buttonholderlog{
    text-align: center;
}

.boton_principal{
    width: 50%;
    background-color: #1CB9C2;
    color: white;
    font-weight: bold;
    height: 3rem;
    margin-top: 2.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.accalign{
    text-align: center;
    padding-top: 0.3rem;
}
/* 
.accalign a{
    text-align: center;
} */

@media (max-width: 1100px){
    .container_principal {
        padding: 4rem 10rem;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 731px){
    .container_principal {
        padding: 4rem 2rem;
        display: flex;
        justify-content: center;
    }

    
}



/* .container_principal{
    position: absolute; 
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 80%;
    color: black;
    
}

.boton_principal{
    background-color: #1CB9C2;
    margin: 20px;
    border-radius: 3px;
    width: 200px;
    color: white;
    
}
.l-botonnavbar{
    background-color: white; 
    color: #1CB9C2;
    border-style: double;
    margin: 30px 40px;
}

.l-text{
    color: black;
  
} */
h3{
    /* color: #1CB9C2; */
    /* font-size: 20px; */
    /* font-weight: bold; */
    /* padding: 20px;
    margin: 0 auto; */
}
/* input, label{
    padding: 12px;
    width: 350px;
    text-align: start;
    border-color: #DBDBDC;
}
a{color: unset;
 text-decoration: unset;}
.formulario{
    width: 60%;
} */
