/******* Header *******/

/* Title */
.h-title{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0.6rem 2rem 0.2rem;
    background-color: white; 
}

/* List */
.h-list li{
    list-style-type: none;
    float: right;
    justify-content:space-around;
    padding:0.5rem;
    
}

.h-list button{
    border: #1DBEB4;
    border-style: double;
    font-weight: bold;
}

.h-list a{
    text-decoration: none;
    color: #1DBEB4;

}
@media(max-width:800px){
    .image{
        width: 50%;
    }
}

@media (max-width: 500px){

.image{
    width: 50%;
}
}